.btn-info {
  color: #fff;
  background-color: #6156ca !important;
  border-color: #2f034d !important;
}

.btn-primary {
  color: #fff;
  background-color: #6156ca !important;
  border-color: #2f034d !important;
}

body {
  background-color: #cbc6f8 !important;
}
